{block content}
    <h1>Databáze řetězců DNA</h1>

    <ul>
        <li>Celkem: {count($all)} řetězců</li>
        <li>
            <a n:href="Experimental:truncateDb">Vyprázdnit databázi.</a>
        </li>
        <li>
            Vložit náhodné DNA řetězece:<br/>
            {form insertDNAForm}
                {label count/}{input count}<br/>
                <strong>Délka řetězce: </strong>
                {label lengthFrom/}
                {input lengthFrom}
                {label lengthTo/}
                {input lengthTo}
                <br/>
                {input submit}
            {/form}
        </li>
    </ul>

    <hr/>
    <ul>
        {foreach $all as $dna}
            <li>{$dna->string}</li>
        {/foreach}
    </ul>
{/block}