{block content}

    <h1>Porovnávání DNA</h1>

    {widget compareForm}

    {ifset $result}
        <hr/>
        <p class="text-muted text-right">Doba porovnání řetězců: {Timer::printTime(compare)}</p>
        <pre>Skóre: {$result->getScore()}{!"\n"}{$result->getPlain()}</pre>
    {/ifset}

{/block}



