{block content}

<div class="row">
    <div class="col-sm-12">
        <h1>Vyhledávání DNA</h1>
    </div>
</div>
<div class="row">
    <hr class="condensed"/>
</div>
<div class="row">
    <div class="col-sm-12">

        <!--formulář na vložení DNA-->
        {form searchForm class => "form-horizontal", role => "form"}

                <!-- Jednoduché vykreslení chyb -->
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>

            <div class="form-group">
                {label algorithm class => "col-sm-3 control-label"/}
                <div class="col-sm-6">
                    {input algorithm class => "form-control"}
                </div>
            </div>
            <div class="form-group">
                {label matchScore class => "col-sm-3 control-label"/}
                <div class="col-sm-2">
                    {input matchScore class => "form-control input-sm"}
                </div>
            </div>
            <div class="form-group">
                {label mismatchScore class => "col-sm-3 control-label"/}
                <div class="col-sm-2">
                    {input mismatchScore class => "form-control input-sm"}
                </div>
            </div>
            <div class="form-group">
                {label gapPenalty class => "col-sm-3 control-label"/}
                <div class="col-sm-2">
                    {input gapPenalty class => "form-control input-sm"}
                </div>
            </div>
            <div class="form-group">
                {label dna class => "col-sm-3 control-label"/}
                <div class="col-sm-6">
                    {input dna class => "form-control"}
                </div>
            </div>
            <div class="form-group">
                {label dna_file class => "col-sm-3 control-label"/}
                <div class="col-sm-6">
                    {input dna_file class => "form-control"}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {input submit class => "btn btn-warning"}
                </div>
            </div>
                    
            
            
        {/form searchForm}
        <!--KONEC formuláře-->

    </div>
</div>

{ifset $results}
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {if $results}
                <p class="text-muted text-right">Doba zpracovani dotazu: {\Timer::printTime("query")}</p>
                {foreach $results as $entry}
                    {if $entry["result"]->getScore() > 0}
                        <div class="result">
                            <div class="row">
                                <div class="img-wrp col-sm-3 hidden-xs">
                                    <img src="{$basePath}/images/dna/{$entry["sequence"]->photo}" class="img-thumbnail img-responsive"/>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="pull-left">
                                        {$entry["sequence"]->name}
                                        <small>{$entry["sequence"]->section}</small>
                                    </h4>
                                    <h4 class="pull-right"><small>Skóre podobosti:</small> {$entry["result"]->getScore()}</h4>
                                    <div class="clearfix"></div>
                                    <div class="pre-wrp">
                                        <pre class="">{!$entry["result"]->getPlain()}</pre>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {/if}
                {/foreach}
            {else}
                <small>Žádné výsledky nenalezeny.</small>
            {/if}
        </div>
    </div>
{/ifset}


{/block}



