{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags}Globální a lokální zarovnání DNA{/block}</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap/bootstrap.css">

        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js'</script>

        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

            <!-- Static navbar -->
<!--        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" n:href="Homepage:default">Globální a lokální zarovnání DNA</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{ifCurrent 'Homepage:default'} class="active"{/ifCurrent}>
                        <a n:href="Homepage:default">Vyhledávání</a>
                    </li>
                    <li{ifCurrent 'Homepage:compare'} class="active"{/ifCurrent}>
                        <a n:href="Homepage:compare">Porovnávání</a>
                    </li>
                    <li{ifCurrent 'Experimental:all'} class="active"{/ifCurrent}>
                        <a n:href="Experimental:all">Databáze</a>
                    </li>
                    <li{ifCurrent 'Experimental:random'} class="active"{/ifCurrent}>
                        <a n:href="Experimental:random">Náhodný řetězec</a>
                    </li>
                </ul>
            </div>/.nav-collapse 
        </div>-->



        <div class="container">


            {include #content}


        </div> <!-- /container -->

        <script src="{$basePath}/js/jquery-1.10.2.min.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {block scripts}{/block}
    </body>
</html>
