/*4px;*/
/*6px;*/
/*3px;*/
/*@container-large-desktop:      ((1140px + @grid-gutter-width));*/
body {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: #ffffff url('../images/background.jpg') no-repeat center 50% fixed;
  background-size: cover;
}
.container {
  /*border: 1px solid @brand-primary;*/
  background: rgba(255, 255, 255, 0.94);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  margin: 40px 0;
}
.navbar {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
hr {
  border-top: 1px solid #cccccc !important;
}
hr.condensed {
  margin-top: 10px;
}
.result {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
}
.result .img-wrp {
  margin-top: 6px;
  position: relative;
}
.result .pre-wrp {
  overflow-x: auto;
}
.result .pre-wrp pre {
  margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
h1 {
  color: #3484D2;
}
#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: #ffffff url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}
a[href^="error:"] {
  background: red;
  color: white;
}
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}
form th {
  text-align: right;
}
form .required label {
  font-weight: bold;
}
form .error {
  color: #D00;
  font-weight: bold;
}
html.js .jshidden {
  display: none;
}
